*{
    margin: 0%;
}

.header{
    position: fixed;
    margin-top: 0%;
}

.form{
    
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
}
.Contact-us-title{
    margin-top: 0px;
    padding-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
   
}

.para{
    text-align: left;
  font-size: 20px;
  margin-bottom: 30px;
}

.name{
    font-size: px;

}

input[type=text], textarea {
    width: 50%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 22px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
    padding: 25px;
    font-size: 50px;
}

.suggestions{
    margin: 30px;
}

button{
    font-size: 15px;
    padding: 5px;
    border-radius: 4px white ;
    color: black;
    
    
}